html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* Scroll Bar */
::-webkit-scrollbar-track{
  background-color: #f5f5f5;
}

::-webkit-scrollbar{
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(66, 66, 66, 0.2);
  border: 0px;
  background-clip: padding-box;
  border-radius: 5px;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}

:root{
  --light-color: whitesmoke;
  --dark-color: #212529;
}

.dark{
  background-color: var(--dark-color) !important;
  color: var(--light-color) !important;
}

.icon{
  background-color: transparent;
  width: 1.3rem !important;
  height: 1.3rem !important;
  cursor: pointer;
}

#search_field{
  height: 2.4rem;
  padding: 1rem;
  box-shadow: none;
}

.border-0{
  outline: none;
}

/* Loader */
.loader{
  display: block;
  width: 80px;
  height: 80px;
  padding-left: 0;
}
.loader:after{
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid red;
  border-color: red transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.avatar{
  display: inline-block;
  margin-bottom: 5px;
  height: 15rem;
  width: 15rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.avatar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn.focus,
.btn:focus{
  outline: 0;
  box-shadow: none;
}

.list-group-item.active{
  background-color: #DC3545;
  border-color: #DC3545;
  border-radius: 0.3rem;
  color: black;
}

@keyframes lds-dual-ring{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 48em){
  footer{
    position: relative;
    bottom: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 64em){
  footer{
    position: relative;
    bottom: 0;
    width: 100%;
  }
}